@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

body{

}
section{
	padding: 80px 0 100px;
}
h2{
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-size: 30px;
	color: #302F2F;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
	word-spacing: 1px;
	letter-spacing: 4px;
}
h2:after{
	display: block;
	height: 2px;
	background-color: rgba(135,135,135,0.8);
	content: " ";
	width: 150px;
	margin: 0 auto;
	margin-top: 30px;
}
/*launch screen*/

.home{
	background: url(images/cover.jpg);
	background-size: cover;
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
}
.home-overlay{
	background-color: rgba(44, 62, 80, 0.3);
    background-image: url("images/pattern.png");
    background-repeat: repeat;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.intro{
	position: absolute;
	width: 100%;
	top: 35%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -35%);
	   -moz-transform: translate(0%, -35%);
	     -o-transform: translate(0%, -35%);
			transform: translate(0%, -35%);
}
.intro h1{
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 60px;
}
.intro h4{
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 25px;
}
.intro span{
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}
.intro u{
	border-bottom: 2px dotted #fff;
	text-decoration: none;
}
/*scoll down*/
.scroll-down{
	position: absolute;
	left: 50%;
	bottom: 40px;
	border:2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
	text-align: center;
}
.scroll-down span{
	position: relative;
	color: #fff;
	animation-name: drop;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-play-state:running;

	-webkit-animation-name: drop;
	-webkit-duration:1s;
	-webkit-animation-timing-function:linear;
	-webkit-delay:0s;
	-webkit-iteration-count:infinite;
	-webkit-play-state:running;
}

@-webkit-keyframes drop{
	0%		{top:0px; opacity: 0;}
	30%		{top:10px; opacity: 1;}
	100%	{top:25px; opacity: 0;}
}
@-keyframes drop{
	0%		{top:0px; opacity: 0;}
	30%		{top:10px; opacity: 1;}
	100%	{top:25px; opacity: 0;}
}
/*header and navigation*/
.header{
	border-bottom: 1px solid #f5f5f5;
	position: relative;
	width: 100%;
	z-index: 10;
}
.navbar-custom{
	border: 0;
	border-radius: 0;
	margin:0;
	text-transform: capitalize;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

}
.navbar-custom,
.navbar-custom .dropdown-menu {
	background: #fff;
	padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	font-size: 17px;
	letter-spacing: 3px;
	color: #222;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
	background: none;
	outline: 0;
	color: #E7746F;
}
.navbar-custom .navbar-brand {
	font-weight: 700;
	font-size: 22px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1.5px;
    color: #302F2F;
}
.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #E7746F;
	border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
	padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
	background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #222;
}


/*section services*/

.section-services {
	background-color: #ebebeb;
}
.section-services blockquote{
	text-align: center;
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-size: 18px;
	margin-top: 20px;
}
.icon-box{
	background: #fbfbfb;
	border-bottom: 2px solid #d4d4d4;
	text-align: center;
	padding: 30px 20px;
	margin: 0 0 2px;
}
.icon-box-icon{
	margin: 0 0 15px;
	font-size: 20px;
	color: #302F2F;
}
.icon-box-text h3{
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-size: 25px;
	text-align: center;
	margin: 0 0 15px;
	font-weight: 500;
}
.icon-box-text h3:after{
	display: block;
	height: 2px;
	content: " ";
	background-color: rgba(135,135,135,0.8);
	width: 30%;
	margin: 0 auto;
	margin-top: 15px;
}
.icon-box-desc{
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-size: 18px;
	font-weight: 400;
}
/*portfolio section*/
.section-work{
	background-color: #fdfdfd;
}
.section-work h2:after{
	margin-bottom: 40px;
}
#works .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#works .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#works .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#works .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#works .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#works .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#works .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#works .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#works .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#works .portfolio-item .portfolio-caption h4 {
    margin: 0;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    text-transform: uppercase;
}

#works.portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-size: 16px;
    font-style: italic;
}

#works * {
    z-index: 2;
}

/*section-about*/
.section-about{
	background-color: #fdfdfd;
}
.about-text{
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-size: 22px;
	text-align: center;
	margin-top: 25px;
}
.about-text span{
	font-weight: 800;
	text-transform: uppercase;
	word-spacing: 1px;
}
.box-process{
	border: 2px  #fff;
	background-color: #fff;
}
.about-process{
	margin-top: 50px;
	position: relative;
}
.about-process hr{
 	border-top: 2px solid #000;
 	border-bottom: 2px solid #000;
 	width:55%;
 	position: absolute;
 	top: 58px;
 	left:22%;
 	z-index: 0;
}
.about-process h3{
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	z-index: 10;
}
.about-process h3 span{
	font-size: 20px;
	font-weight: 400;
}
.about-process .icon{
	text-align: center;
}
.special-h2:before{
	display: block;
	height: 2px;
	background-color: rgba(135,135,135,0.8);
	content: " ";
	width: 230px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 20px;
}
.special-h2{
	margin-bottom: 35px;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #CECECE;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-weight: 800;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 170%;
}

.team-member p {
    margin-top: 5px;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-weight: 500;
    word-spacing: 2px;
    font-size: 130%;
}
ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #8F8F8F;
}
/*our motto*/
.section-motto{
	background-color: #ebebeb;
}
.motto-text{
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}
.punch-line{
	font-family: 'Satisfy', cursive;
	font-size: 45px;
	font-weight: 700;
	margin-top: 20px;
	letter-spacing: 2px;
	color: #323232;
	
}
.punch-line u{
	border-bottom: 2px dotted #000;
	text-decoration: none;

}
/*contact us*/
.section-contact{
	background-color: #fdfdfd;
	padding: 50px 0 100px;
}
.section-contact blockquote{
	text-align: center;
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-size: 18px;
	margin-top: 20px;
}
.btn-send{
	background-color: #2F2F2F;
	color: #fff;
	font-size: 20px;
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-weight: 500;
	float: right;
}
.btn-send:hover,
.btn-send:active{
	background-color: #202020;
	color: #fff;
}
.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(135,135,135,0.8);;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
}

.floating-label-form-group label {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
     -webkit-transition: top .4s ease,opacity .4s ease;
   	    -moz-transition: top .4s ease,opacity .4s ease;
    	 -ms-transition: top .4s ease,opacity .4s ease;
   			 transition: top .4s ease,opacity .4s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #3E3E3E;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */
@media (max-width: 480px){
	.intro h1{
		font-family: Raleway, "Times New Roman", Times, sans-serif;
		font-weight: 700;
		color: #fff;
		font-size: 30px;
		margin-top: 100px;
	}
	.intro h4{
		font-family: Raleway, "Times New Roman", Times, sans-serif;
		font-weight: 300;
		color: #fff;
		font-size: 25px;
		margin-bottom: 30px;
	}
	.intro span{
		font-family: Raleway, "Times New Roman", Times, sans-serif;
		font-weight: 700;
		color: #fff;
		font-size: 25px;
		text-transform: uppercase;
	}
	.about-text{
		font-family: Raleway, "Times New Roman", Times, sans-serif;
		font-size: 20px;
		text-align: center;
		margin-top: 25px;
	}
	.icon-box-text h3{
		font-family: Raleway, "Times New Roman", Times, sans-serif;
		font-size: 25px;
		text-align: center;
		margin: 0 0 15px;
		font-weight: 500;
	}
	.motto-text{
		font-family: Raleway, "Times New Roman", Times, sans-serif;
		font-size: 20px;
		text-align: center;
		margin-top: 20px;
	}
	.punch-line{
		font-family: 'Satisfy', cursive;
		font-size: 25px;
		font-weight: 700;
		margin-top: 20px;
		letter-spacing: 2px;
		color: #323232;	
	}
	
}
footer{
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
	padding: 20px;
	font-family: Raleway, "Times New Roman", Times, sans-serif;
}
footer p{
	color: #fff;
	font-size: 150%;
	text-align: center;
	margin-top: 10px;
}
footer i{
	color: #FE0825;
}
footer a{
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 800;
}
footer a:hover,
footer a:active{
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}
footer .social{
	text-align: center;
}
footer .social i{
	font-size: 30px;
	color: #fff;
	vertical-align: middle;
}
footer .social i.fa-facebook {
  color: #0182c4;
}
footer .social i.fa-twitter {
  color: #20B8FF
}
footer .social i.fa-google-plus {
  color: #D34836
}
@media (max-width: 998px){
  	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav > li > a{
		font-size: 15px;
		padding: 10px 10px;
	}
}
.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
@media (max-width: 1190px) and (min-width: 754px){
	.icon-box-text h3{
		font-family: Raleway, "Times New Roman", Times, sans-serif;
		font-size: 15px;
		text-align: center;
		margin: 0 0 15px;
		font-weight: 500;
	}
}